/*  タブレット向けレイアウト*/
@media all and (max-width: 1005px) {

.container p{
  font-size:12px;
  line-height:25px;
}
/*  トップページに対する変更*/
.header-right a {padding: 0px 10px;}
.about-name{width: 30%;}
.about-name h2{font-size: 30px;}
.about-text{width:68%;}
.about-text p{line-height: 23px;}

/*  共通ページ*/
.interest-wrapper{height: 400px;}
.interest-wrapper img{width:100%;margin-top:50px;height: }
.interest-text h2{font-size:18px;}
.interest-wrapper a{  font-size: 12px;}
#faq-list {width: 100%;}
.faq-list-item img{width:100%;}
.top-wrapper h1{font-size:75px;}
#coach1 {width:50%;}
#syukatu1 {width:70%;}

/*  ボタン修正*/
.the-btn {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
  border-radius: 10px;
}
.the-btn:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.the-coach-text{padding:100px 10px 0px 10px;}
.the-coach-text h2{font-size:19px;}
.the-coach-text2{padding:40px 10px 0px 10px;}
.the-text p{padding:0px 0%;}
.select-wrapper{padding:0px 3%;}
}




/*  スマホ向けレイアウト*/
@media (max-width:720px) {

.container p{font-size:12px;line-height:22px;}
.container h2{font-size:15px;}
/* ヘッダーについて*/
header {height:50px;}
.header-left a{line-height: 55px;}
.header-right{display:none;}
/*  ハンバーガーアイコン*/
#nav-drawer {
  position: relative;
  padding:15px 5% 0px 30%;

  margin-left:50%;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-open span:before {
    bottom: -8px;
}
#nav-open span:after {
    bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: -16px;
    left: 0px;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る*/
    max-width: 160px;/*最大幅*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
    font-weight:normal;
    line-height: 40px;
    color: #555;
    padding:0px 10px;
}
li{  border-bottom:1px solid #dcdcdc;}
a{display: block;color:#808080;font-size:13px;}
.careerlab {
  display:block;
  padding-top:15px;
  padding-bottom:5px;
  color:#800000;
  font-size:20px;
  font-weight: bold;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}
#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
/*  ヘッダーのための余白*/
.top-wrapperTowhite{height:0px;}
/*  トップ*/
.top-wrapper{height:400px;}
.top-wrapper h1{padding-top: 180px;font-size: 30px;}
.top-wrapper h2{font-size:13px;}

/*  私たちについてと目的説明*/
.about-wrapper{height:630px;}
.about-name{
  position:relative;
  text-align:left;
  width:95%;
  padding:0px 0px 0px 10px;
  margin:30px 0px 0px 0px ;
  height:600px;
}
.about-name h2{
  font-family:'Comic Sans MS',cursive;
  font-size: 20px;
  margin:0px;
}
.about-text{
  position: absolute;
  width:85%;
  margin:60px 0px 0px 10px;
  padding:0px 10% 0px 20px;

}
.about-text p{
  font-size: 10px;
  line-height: 20px;
}
.about-text h2{
  font-size: 25px;
  padding-bottom: 0px;
}
/*  ビジョンの提示*/
.select-text-wrapper{height: 150px;}
.select-text-wrapper h2{
  padding:60px 30px;
  font-size:10px;
  line-height: 18px;
}
/*  ボタン周り*/
.select-wrapper{height:700px;}
.select-wrapper a{color:black;}
.the-syukatsu{width:100%;}
.the-es{width:100%;}
.the-faq{width:100%;}
.the-btn{height:150px;border-radius: 0px;}
.the-coach-text{padding-top:30px;position:static;width:100%;}
.the-coach-text h2{margin:0px 0px 0px 0px ;}
.the-coach{margin:0px;}
.the-coach-text2{display: none;}
.the-coach-text3{display:block;}
.the-coach-text3 p{margin:0px;padding-top:80px;}
.the-text h2{padding:30px 0px 20px 0px;margin-bottom:0px;}
.the-text p{margin:0px;}
footer{height:50px;padding-top:20px;}
footer p{padding-top:0px;}
/*  */
/*  それぞれのページの共通部分*/
/*  */
/*  前書き*/
.interest-wrapper{padding-top:30px;height:780px;}
.interest-text{width:100%;padding:0px;}
.interest-img{width:100%;margin-top:20px;}
.interest-img img{margin:0px;}
.interest-wrapper a{display:inline;}
.interest-text h2{font-size:15px;}
/*  押すページが開く*/
.faq-wrapper {padding:0px;}
iframe{width:100%;height:220px;}
.img-selfdevelopment img{height:290px;}
.img-selfdevelopment{margin-top:0px;}
.Download-wrapper{padding-top:40px;}
.Download{  height: 60px;width: 250px;}
.Download-wrapper a{font-size: 15px;line-height: 65px;}
input[type="submit"] {
-webkit-appearance: none;
border-radius: 10;
}
/*  */
/*  FAQページのCSS*/
/*  */
/*  質問の文字の大きさ*/
.faq-list-item h3 {
  font-size: 13px;
  padding-right: 40px;
  line-height: 16px;
}

/*  きよみさんへの促進*/
.section-title{font-size: 13px;padding-top:50px;}
.contact-form p{font-size:13px;}
.contact-form{
  text-align: center;
  height:680px;
}
